<body>
    <table>
        <thead>
            <tr>
                <th>Título</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th>categoria</th>
                <th>cantidad comprada</th>
                <th>subTotal</th>
            </tr>
        </thead>
        <tbody>
            {{#each data}}
            <tr>
                <td>{{this.title}}</td>
                <td>{{this.description}}</td>
                <td>{{this.price}}</td>
                <td>{{this.category}}</td>
                <td>{{this.quantity}}</td>
                <td>{{this.subTotal}}$</td>

            </tr>
            {{/each}}
        </tbody>
        <tfoot>
            <td>total de la compra </td>
            <td>{{total}}$</td>
        </tfoot>
        

    </table>
</body>
<link href="../css/index.css" rel="stylesheet">